@media(max-width:1200px) {
    .box2 span {
        top: 60%;
    }

    .box3 span {
        top: 60%;
        left: 73%;
        /* right: 90% */
    }

    h3 {
        top: 285%;
    }

    h5 {
        top: 285%;
        left: 72%;
    }
}