*{
    border: 1px solid;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background: lightblue;
    display: flex;
}
.logo{
    background: darkcyan;
    width: 30%;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
    /* float: left; */
}
.logo img{
    border-radius: 50%;
}
.cn{
    background: lightblue;
    width: 70%;
    text-align: center;
    padding: 20px 0px;
    font-size: 30px;
    font-family: cursive;
    font-weight: bold;
    /* float: left; */

}
nav{
    text-align: center;
    word-spacing: 30%;
}
li{
    display: inline;
    list-style-type: none;
    margin-right: 20px;
    /* padding: 4px 9px; */
}
a{
    text-decoration: none;
    color: #000;
    padding: 4px 9px;
}
img{
    object-fit: cover;
}
.row{
    background: lightblue;
    display: flex;
    flex-wrap: wrap;
}
.col{
    width: 25%;
    padding: 15px;
}
.col2{
    background: url(pahad1.jpg);
    background-size: 300px 180px;
    /* background: repeat no-repeat; */
    /* background-position: center 15px; */
}
.col14{
    background: url(pahad1.jpg);
    background-size: 100% 100%;
}