#y{
    background-image: url(pahad\ 1.jpg);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    word-spacing: 40px;
    padding-left: 20px;
    padding-top: 20px;




}
.a{
    color: white;
}